.titulo {
  font-weight: bold;
  text-align: center;
}

.contenido {
  background-color: #f8f9fa;
}

.categoria {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.libro-card {
  border-radius: 10px;
}

.mensaje {
  text-align: center;
  color: #666;
  margin-top: 40px;
}
